body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family:'Times New Roman', Times, serif;
}

header{
    width: 100%;
    height: auto;
    background: #2F6690;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}


header .img{
    width: 100px;
    height: 100px;
    border-radius: 60%;
    margin: 20px 0 30px;
    background-image: url('/img/curriculum-foto2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .desc{
    width: 300px;
    height: 70px;
    display: flex;
    border-top: 2px solid white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #565656;
    position: absolute;
    top: 130px;
}

header h1{
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 15px;
}

header p{
    position: relative;
    top: -15px;
    margin: 0px;
}


main{
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.contacto{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.contacto h3{
    font-size: 1.6rem;
}



.icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0px 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
}

.contacto ul{
    list-style: none;
    margin-bottom: -10px;
}

.contacto ul li{
    font-size: 1.2rem;
    margin-top: 5px;
}

.correo{
    background-image: url('/icons/gmail-icon.svg');
}

.telefono{
    background-image: url('/icons/whatsapp-icon.svg');
}

.twitter{
    background-image: url('/icons/twitter-icon.svg');
}

.linkedin{
    background-image: url('/icons/linkedin-icon.svg');
}

.git{
    background-image: url('/icons/github-icon.svg');
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.skills{
    width: 100%;
    height: auto;
    text-align: center;
}

.skills--head{
    width: 100%;
    height: auto;
    background-color:#121f3d;
}

.skills--head h3{
    color: white;
    font-size: 1.4rem;
}

.skills--head-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0px 5px;
    background-image: url('https://static.platzi.com/commons/assets/image/isotipoPlatzi093f27a2fb00922bb105.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
}
.skills--container{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.certifiti{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px;
    scroll-snap-align: center;
}

.certifiti--container{
    width: 200px;
    height: 150px;
    margin: 10px 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30,0.16);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.certifiti--container:hover{
    transform: scale(1.5);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.BasicoJavaScript{
    background-image: url('/img/CursoBasicoJavaScript.PNG');
}

.ECMAScript{
    background-image: url('/img/ECMAScript6+.PNG');
}

.Regex{
    background-image: url('/img/Regex.PNG');
}

.FrontendDeveloper{
    background-image: url('/img/FrontendDeveloper.PNG')
}

.FundamentosDB{
    background-image: url('/img/FundamentosBD.PNG');
}

.FundamentosJS{
    background-image: url('/img/FundamentosJS.PNG');
}

.DefinitivoHTMLCSS{
    background-image: url('/img/DefinitivoHTMLCSS.PNG');
}

.projects{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    background-color: #353535;
}

.projects--head{
    width: 100%;
    height: auto;
    background-color: #121f3d;
}
.projects--head h3{
    font-size: 1.4rem;
    color: white;
}

.projects--container{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

}
.projects--container-item{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #252525;
}

.item--container{
    width: 200px;
    height: 150px;
    margin: 10px 5px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.item--container:hover{
    transform: scale(1.5);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.batabit{
    background-image: url('/img/Batatabit.PNG');
}

.google{
    background-image: url('/img/clonGoogle.PNG');
}

.simon{
    background-image: url('/img/SimonDice.PNG');
}

.item--title{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0;
}


.style2{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}